<a href="https://colab.research.google.com/github/leeCodingStudio/firstPython/blob/master/02_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%9D%98_%EC%B6%9C%EB%A0%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. print 함수
* 매개변수로 지정된 데이터를 출력하고 줄을 변경

In [1]:
print('안녕하세요 파이썬')
print(10)
print('10')

안녕하세요 파이썬
10
10

# 2. 주석문

In [2]:
# 한 줄 주석문
'''
여기는 여러줄을 주석으로 처리합니다.
따라서 프로그램에 영향을 주지 않습니다.
'''
print('파이썬 출력하기') # 문자열 출력은 싱글 따옴표 '' 또는 쌍 따옴표 ""를 사용함

파이썬 출력하기

# 3. print 함수의 활용

In [3]:
print(10 + 5)
print(10 - 5)
print(10 * 5)
print(10 / 5)
print(10 % 3)
print('10 + 3')
print('10' + 3) # TypeError: can only concatenate str (not "int") to str

15
5
50
2.0
1
10 + 3

TypeError: ignored

In [13]:
print('Hello', 'Python')
print('Hello', 'Python', 'Hi', 'Python')
print('Hello', end='') # end: print 출력 후 어떻게 처리할지에 대한 옵션
print('Python')
print('Hello')
print('Hello', end=' ')
print('Python')
print('Hello', end='🎁') # 윈도우키 + .
print('Python')

Hello Python
Hello Python Hi Python
HelloPython
Hello
Hello Python
Hello🎁Python

# 4. 출력 서식 지정하기
* %d(정수) %f(실수), %s(문자열)를 사용하여 출력 서식을 지정
* 서식을 제외한 문자는 입력한 그대로 출력이 됨
* 서식을 지정해서 출력할 데이터가 2개 이상인 경우는 소괄호로 데이터를 묶어야 함

In [25]:
print('정수: 100')
print('정수:', 100)
print('정수: %d' % 100)
print(f'정수: {100}')

정수: 100
정수: 100
정수: 100
정수: 100

In [26]:
print('정수: %d' % 100.5)

정수: 100

In [23]:
print('실수: %f' % 100.5)

실수: 100.500000

In [24]:
print('실수: %f' % 100)

실수: 100.000000

In [22]:
print('문자열 %s' % 'Python')
print('문자열 %s' % 100)

문자열 Python
문자열 100

In [28]:
print('5 + 3 = 8')
print('%d + %d = %d' % (5, 3, 5+3))

5 + 3 = 8
5 + 3 = 8

In [34]:
print('%5d' % 100)
print('%5d' % 10000)
print('%05d' % 100)

  100
10000
00100

In [44]:
print('%6.2f' % 123.45) # 6: 총자리수 2: 소수자리
print('%6.2f' % 123.4567) # 반올림
print('%6.2f' % 123.4) # 남은 자리는 0으로 채움

123.45
123.46
123.40

In [45]:
print('%5s' % 'ABC')

  ABC

In [48]:
# 5 / 3 = ?
print('%d / %d = %d' % (5, 3, 5/3))
print('%d / %d = %f' % (5, 3, 5/3))
print('%d / %d = %4.2f' % (5, 3, 5/3))

5 / 3 = 1
5 / 3 = 1.666667
5 / 3 = 1.67

# 5. format 함수와 출력 인덱스 사용

In [50]:
# 인덱스: 0부터 순서대로 진행되는 정수
print('{} {}'.format('김사과', '반하나'))
print('{0} {1}'.format('김사과', '반하나'))
print('{1} {0}'.format('김사과', '반하나'))

김사과 반하나
김사과 반하나
반하나 김사과

In [52]:
print('{0:3s}님은 {1:03d}살 입니다'.format('김사과', 20))

김사과님은 020살 입니다