<a href="https://colab.research.google.com/github/leeCodingStudio/firstPython/blob/master/07_%ED%8A%9C%ED%94%8C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. íŠœí”Œ(Tuple)
* ë¦¬ìŠ¤íŠ¸ì™€ ë¹„ìŠ·í•˜ì§€ë§Œ ë¦¬ìŠ¤íŠ¸ëŠ” ëŒ€ê´„í˜¸ë¡œ ìë£Œë¥¼ ê°ì‹¸ê³ , íŠœí”Œì€ ì†Œê´„í˜¸ë¡œ ê°ìŒˆ
* ìš”ì†Œì˜ ìˆ˜ì •, ì‚­ì œ ë¶ˆê°€ëŠ¥

In [1]:
tu1 = ()
print(tu1)

tu1[0] = 100 # TypeError: 'tuple' object does not support item assignment

()

TypeError: ignored

In [2]:
tu2 = (1, 3, 5, 7)
print(tu2)

(1, 3, 5, 7)

In [3]:
tu3 = 1, 3, 5, 7
print(tu3)
print(type(tu3))

(1, 3, 5, 7)
<class 'tuple'>

In [4]:
tu4 = ('apple', 'banana', ('ğŸ“', 'ğŸ‰'))
print(tu4)

tu5 = ('apple', 'banana', ['ğŸ“', 'ğŸ‰'])
print(tu5)
print(type(tu5))

('apple', 'banana', ('ğŸ“', 'ğŸ‰'))
('apple', 'banana', ['ğŸ“', 'ğŸ‰'])
<class 'tuple'>

# 2. íŠœí”Œì˜ ìˆ˜ì • ë° ì‚­ì œ

In [5]:
tu6 = (1, 2, 'apple', 'banana')
print(tu6)

print(tu6[2])

tu6[2] = 'orange' # TypeError: 'tuple' object does not support item assignment

(1, 2, 'apple', 'banana')
apple

TypeError: ignored

In [6]:
del tu6[2] # TypeError: 'tuple' object doesn't support item deletion

TypeError: ignored

In [7]:
del tu6

In [11]:
tu7 = ('apple', 'banana', ['ğŸ“', 'ğŸ‰'])
tu7[2][1] = 'ğŸŒ' # ë¦¬ìŠ¤íŠ¸ì˜ ìš”ì†Œì´ë¯€ë¡œ ë³€ê²½ì´ ê°€ëŠ¥
print(tu7)

tu7[2] = 'ğŸ”' # TypeError: 'tuple' object does not support item assignment

('apple', 'banana', ['ğŸ“', 'ğŸŒ'])

TypeError: ignored

In [12]:
tu8 = ('apple', 'banana', ['ğŸ“', 'ğŸ‰'])
print(tu8)
tu8 = 'ğŸ—' # íŠœí”Œì˜ ìš”ì†Œê°€ ì•„ë‹Œ ë°ì´í„°ì˜ ì£¼ì†Œ ìì²´ê°€ ë°”ë€Œë¯€ë¡œ ê°€ëŠ¥
print(tu8)

('apple', 'banana', ['ğŸ“', 'ğŸ‰'])
ğŸ—

# 3. íŠœí”Œì˜ ì¸ë±ì‹±ê³¼ ìŠ¬ë¼ì´ì‹± ì—°ì‚°

In [17]:
tu9 = (1, 2, 'apple', 'banana')

# ì¸ë±ì‹±
print(tu9[0])
print(tu9[-1])

# ìŠ¬ë¼ì´ì‹±
print(tu9[1:])
print(tu9[1:3])

# ë§ì…ˆ(ì—°ê²°)
tu10 = (30, 40)
print(tu9 + tu10)

# ê³±ì…ˆ(ë°˜ë³µ)
print(tu9 * 3)

# ìš”ì†Œì˜ ê°¯ìˆ˜
print(len(tu9))

1
banana
(2, 'apple', 'banana')
(2, 'apple')
(1, 2, 'apple', 'banana', 30, 40)
(1, 2, 'apple', 'banana', 1, 2, 'apple', 'banana', 1, 2, 'apple', 'banana')
4

# 4. íŠœí”Œì˜ ì •ë ¬

In [18]:
tu11 = (1, 3, 2, 0)

In [19]:
tu11.sort() # AttributeError: 'tuple' object has no attribute 'sort'

AttributeError: ignored

In [20]:
tu12 = sorted(tu11)
print(tu12)

[0, 1, 2, 3]