<a href="https://colab.research.google.com/github/leeCodingStudio/firstPython/blob/master/07_%ED%8A%9C%ED%94%8C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 튜플(Tuple)
* 리스트와 비슷하지만 리스트는 대괄호로 자료를 감싸고, 튜플은 소괄호로 감쌈
* 요소의 수정, 삭제 불가능

In [1]:
tu1 = ()
print(tu1)

tu1[0] = 100 # TypeError: 'tuple' object does not support item assignment

()

TypeError: ignored

In [2]:
tu2 = (1, 3, 5, 7)
print(tu2)

(1, 3, 5, 7)

In [3]:
tu3 = 1, 3, 5, 7
print(tu3)
print(type(tu3))

(1, 3, 5, 7)
<class 'tuple'>

In [4]:
tu4 = ('apple', 'banana', ('🍓', '🍉'))
print(tu4)

tu5 = ('apple', 'banana', ['🍓', '🍉'])
print(tu5)
print(type(tu5))

('apple', 'banana', ('🍓', '🍉'))
('apple', 'banana', ['🍓', '🍉'])
<class 'tuple'>

# 2. 튜플의 수정 및 삭제

In [5]:
tu6 = (1, 2, 'apple', 'banana')
print(tu6)

print(tu6[2])

tu6[2] = 'orange' # TypeError: 'tuple' object does not support item assignment

(1, 2, 'apple', 'banana')
apple

TypeError: ignored

In [6]:
del tu6[2] # TypeError: 'tuple' object doesn't support item deletion

TypeError: ignored

In [7]:
del tu6

In [11]:
tu7 = ('apple', 'banana', ['🍓', '🍉'])
tu7[2][1] = '🍌' # 리스트의 요소이므로 변경이 가능
print(tu7)

tu7[2] = '🍔' # TypeError: 'tuple' object does not support item assignment

('apple', 'banana', ['🍓', '🍌'])

TypeError: ignored

In [12]:
tu8 = ('apple', 'banana', ['🍓', '🍉'])
print(tu8)
tu8 = '🍗' # 튜플의 요소가 아닌 데이터의 주소 자체가 바뀌므로 가능
print(tu8)

('apple', 'banana', ['🍓', '🍉'])
🍗

# 3. 튜플의 인덱싱과 슬라이싱 연산

In [17]:
tu9 = (1, 2, 'apple', 'banana')

# 인덱싱
print(tu9[0])
print(tu9[-1])

# 슬라이싱
print(tu9[1:])
print(tu9[1:3])

# 덧셈(연결)
tu10 = (30, 40)
print(tu9 + tu10)

# 곱셈(반복)
print(tu9 * 3)

# 요소의 갯수
print(len(tu9))

1
banana
(2, 'apple', 'banana')
(2, 'apple')
(1, 2, 'apple', 'banana', 30, 40)
(1, 2, 'apple', 'banana', 1, 2, 'apple', 'banana', 1, 2, 'apple', 'banana')
4

# 4. 튜플의 정렬

In [18]:
tu11 = (1, 3, 2, 0)

In [19]:
tu11.sort() # AttributeError: 'tuple' object has no attribute 'sort'

AttributeError: ignored

In [20]:
tu12 = sorted(tu11)
print(tu12)

[0, 1, 2, 3]