<a href="https://colab.research.google.com/github/leeCodingStudio/firstPython/blob/master/08_%EC%A0%9C%EC%96%B4%EB%AC%B8(%EC%A1%B0%EA%B1%B4%EB%AC%B8).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 제어문
* 프로그램의 흐름을 제어하는 문장
  * 조건문
  * 반복문

# 2. 조건문

### 2-1. 비교연산자
* <, >, <=, >=, ==, !=
* 항상 결과는 bool형으로 반환

In [3]:
print(10 > 5)
print(10 < 5)
print(10 >= 5)
print(10 <= 5)
print(10 == 5)
print(10 != 5)

True
False
True
False
False
True

### 2-2. if문

```
if 조건식(결과가 True 또는 False가 나오는 문장):
  조건식이 True인 경우 실행할 문장
  ...
```

In [4]:
bool1 = True

if bool1:
  print('결과는 참입니다')
print('프로그램을 종료합니다')

결과는 참입니다
프로그램을 종료합니다

In [5]:
bool2 = False

if bool2:
  print('결과는 참입니다')
print('프로그램을 종료합니다')

프로그램을 종료합니다

In [7]:
age = int(input('나이를 입력하세요: '))

if age > 19:
  print('성인입니다')

print('입력한 나이: ', age)

나이를 입력하세요: 20
성인입니다
입력한 나이:  20

In [8]:
age = int(input('나이를 입력하세요: '))

if age > 19:
  print('성인입니다')
  print('넷플릭스 성인영화를 감상할 수 있습니다')
print('입력한 나이: ', age)

나이를 입력하세요: 20
성인입니다
넷플릭스 성인영화를 감상할 수 있습니다
입력한 나이:  20

In [9]:
age = int(input('나이를 입력하세요: '))

if age > 19: print('성인입니다')
print('입력한 나이: ', age)

나이를 입력하세요: 20
성인입니다
입력한 나이:  20

### 2-3. if ~ else 문
```
if 조건식(결과가 True 또는 False가 나오는 문장):
  조건식이 True인 경우 실행할 문장
  ...
else:
  조건식이 False인 경우 실행할 문장
  ...
```

In [10]:
age = int(input('나이를 입력하세요: '))

if age > 19:
  print('성인입니다')
else:
  print('미성년입니다')

print('입력한 나이: ', age)

나이를 입력하세요: 15
미성년입니다
입력한 나이:  15

In [11]:
age = int(input('나이를 입력하세요: '))

if age > 19:
  print('성인입니다')
  print('넷플릭스 성인영화를 감상할 수 있습니다')
else:
  print('미성년입니다')
  print('디즈니를 보세요')
  
print('입력한 나이: ', age)

나이를 입력하세요: 15
미성년입니다
디즈니를 보세요
입력한 나이:  15

### 2-4. if ~ elif ~ else 문
```
if 조건식1(결과가 True 또는 False가 나오는 문장):
  조건식1이 True인 경우 실행할 문장
  ...
elif 조건식2:
  조건식2가 True인 경우 실행할 문장
  ...
elif 조건식3:
  조건식3가 True인 경우 실행할 문장
  ...
else:
  모든 조건식이 False인 경우 실행할 문장
  ...
```

> else는 필수 문장이 아님!

In [12]:
age = int(input('나이를 입력하세요: '))

if age > 19:
  print('성인입니다')
elif age > 14:
  print('청소년입니다')
elif age > 6:
  print('어린이입니다')
elif age > 0:
  print('유아입니다')
# else:
#   print('입력을 확인하세요')

print('입력한 나이: ', age)

나이를 입력하세요: 7
어린이입니다
입력한 나이:  7

### 2-5. 산술 연산자
* +, -, *, /, %, //, **

In [16]:
print(10 + 3)
print(10 - 3)
print(10 * 3)
print(10 / 3)
print(10 % 3)
print(10 // 3)
print(10 ** 3)

13
7
30
3.3333333333333335
1
3
1000

### 2-6. 삼항 연산자

```
결과가 True일 때 실행할 문장 if 조건식 else 결과가 False일 때 실행할 문장
```

In [17]:
num = int(input('숫자를 입력하세요: '))

if num % 2 == 0:
  print('짝수')
else:
  print('홀수')

숫자를 입력하세요: 11
홀수

In [19]:
num = int(input('숫자를 입력하세요: '))

print('짝수') if num % 2 == 0 else print('홀수')

숫자를 입력하세요: 11
홀수

### 문제1.
* 국어점수, 영어점수, 수학점수를 입력받아 총점, 평균, 학점을 구하는 프로그램을 작성해보자
* 단, 학점은 평균 기준이며 90점 이상은 A, 80점 이상은 B, 70점 이상은 C, 60점 이상은 D, 나머지는 F로 함

In [29]:
ko = int(input('국어 점수를 입력하세요: '))
en = int(input('영어 점수를 입력하세요: '))
ma = int(input('수학 점수를 입력하세요: '))

total = ko + en + ma
avg = total/3

if avg >= 90:
  score = 'A'
elif avg >= 80:
  score = 'B'
elif avg >= 70:
  score = 'C'
elif avg >= 60:
  score = 'D'
else:
  scpre = 'F'
print('총합합 점수: %d, 평균점수: %d, 학점: %s' % (total, avg, score))

국어 점수를 입력하세요: 91
영어 점수를 입력하세요: 85
수학 점수를 입력하세요: 93
총합합 점수: 269, 평균점수: 89, 학점: B

In [28]:
kor, eng, math = input('국어, 영어, 수학점수를 차례대로 입력하세요: ').split(' ')
tot = int(kor) + int(eng) + int(math)
avg = tot / 3

hak = 'F학점'
if avg >= 90:
  hak = 'A학점'
elif avg >= 80:
  hak = 'B학점'
elif avg >= 70:
  hak = 'C학점'
elif avg >= 60:
  hak = 'D학점'

print('총점: ', tot)
print('평균: ', avg)
print('학점: ', hak)

국어, 영어, 수학점수를 차례대로 입력하세요: 91 85 93
총점:  269
평균:  89.66666666666667
학점:  B학점

### 문제2.
* 숫자를 입력받아 2의 배수인지, 3의 배수인지 아니면 2, 3의 배수가 모두 아닌지를 판별하는 프로그램을 작성해보자.

In [40]:
num = int(input('숫자를 입력하세요: '))
if num % 2 == 0:
  print('2의 배수입니다.')
elif num % 3 == 0:
  print('3의 배수입니다.')
else:
  print('2와3의 배수가 아닙니다.')

숫자를 입력하세요: 27
3의 배수입니다.

In [38]:
num = int(input('숫자를 입력하세요: '))

if num % 2 == 0:
  if num % 3 == 0:
    print(f'{num}은 2와 3의 배수')
  else:
    print(f'{num}은 2의 배수')
elif num % 3 == 0:
  print(f'{num}은 3의 배수')
else:
  print(f'{num}은 2와 3의 배수가 아님')

숫자를 입력하세요: 54
54은 2와 3의 배수

In [37]:
num = int(input('숫자를 입력하세요: '))

print(f'{num}은 2의 배수') if num % 2 == 0 else print(f'{num}은 3의 배수') if num % 3 == 0 else print(f'{num}은 2와 3의 배수가 아님')

숫자를 입력하세요: 17
17은 2와 3의 배수가 아님

### 2-7. 논리 연산자(AND)
* 양쪽 두식의 값이 모두 True인 경우 결과가 True가 되는 연산자

| A | B | 결과 |
|:-----:|:-----:|:-----:|
|True|True|True|
|True|False|False|
|False|True|False|
|False|False|False|

> 예) 정보처리 기사 자격을 취득하기 위해서는 모든 과목을 40점 이상이고 평균이 60점 이상이 되어야 함

In [41]:
# 로그인 프로그램 만들기
# 아이디: admin, 비밀번호: 1234
userid = input('아이디를 입력하세요')
userpw = input('비밀번호를 입력하세요')

if userid == 'admin' and userpw == '1234':
  print('로그인 되었습니다')
else:
  print('아이디 또는 비밀번호를 확인하세요')

아이디를 입력하세요admin
비밀번호를 입력하세요1234
로그인 되었습니다

### 2-8. 논리 연산자(OR)
* 양쪽 두 식의 값이 하나라도 True인 경우 결과가 True가 되는 연산자

| A | B | 결과 |
|:-----:|:-----:|:-----:|
|True|True|True|
|True|False|True|
|False|True|True|
|False|False|False|

> 엄빠 모셔와

In [42]:
# 주민등록번호에 의한 성별을 판별하는 프로그램 만들기
# 0010113068518

juminNo = input('주민등록번호 13자리를 -없이 입력하세요')

if juminNo[6] == '1' or juminNo[6] == '3' or juminNo[6] == '5' or juminNo[6] == '7' or juminNo[6] == '9':
  print('남자')
else:
  print('여자')

주민등록번호 13자리를 -없이 입력하세요0010113068518
남자

### 2-9. 논리연산자(NOT)
* bool의 값을 반대로 변경해주는 연산자

In [43]:
bool1 = True

if bool1:
  print('결과는 참입니다')
else:
  print('결과는 거짓입니다')

결과는 참입니다

In [44]:
bool1 = True

if not bool1:
  print('결과는 참입니다')
else:
  print('결과는 거짓입니다')

결과는 거짓입니다

### 과제
아래와 같이 출력되는 이유를 알아보자

이를 이해하기 위해서 먼저 10진수 소수를 2진수 소수로 바꾸는 계산법을 알아보자.
예시로 먼저 0.125를 2진수로 변환할 때 과정을 살펴보자

1. 해당 10진수에 2를 곱한다. -> 0.625 * 2 = 1.25
2. 위에 결과에서 소수점 위에 숫자가 2진수에서 소수점 첫번째 자리 숫자이다. 이진수 0.1??
3. 위에 1번에 있는 결과에서 소수만 가져와서 2를 곱한다. -> 0.25 * 2 = 0.5
4. 3번에 결과에서 소수점 위에 숫자가 2진수에서 소수점 두번째 자리 숫자이다. 이진수 0.10?
5. 위와 같이 반복하면 결과로 0.101 이나오는데 이것이 십진수 0.625의 이진수 값이다.

 위와 같이 십진수를 이진수를 바꾸는 방법으로 일정 소수를 계산시 무한으로 나오는 소수가 존재한다. 예) 0.1 = 0.00011001100110011...

 이런 무한히 나오는 소수는 컴퓨터에서 유한 한 비트 수에서 멈추면, 근삿값을 얻게 된다. 그다음 그 근삿값을 다시 사용자인 우리가 보기위한 10진수로 바꾸게 되면 0.1이 아닌 0.1000000000000000055511151231257827021181583404541015625 이 되며 파이선에서는 이것을 단순히 0.1로만 표시한다.

 결국 부내적으로 연산을 하게되면 0.1 + 1.1 == 1.2 가 아닌 1.2000000000000002 라는 근삿값이 된어 아래와 같은 연산에서 False가 뜨게 되는 경우가 생긴다.

In [45]:
print(10 / 3) # 3.3333333333333335 ????

3.3333333333333335

In [46]:
0.1 + 1.1 == 1.2 # False ????

False