<a href="https://colab.research.google.com/github/leeCodingStudio/firstPython/blob/master/09_%EC%A0%9C%EC%96%B4%EB%AC%B8(%EB%B0%98%EB%B3%B5%EB%AC%B8).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. ë°˜ë³µë¬¸

### 1-1. ìë£Œí˜• ì°¸/ê±°ì§“ íŒë‹¨í•˜ê¸°
* íŒŒì´ì¬ì—ì„œ ì‚¬ìš©í•˜ëŠ” ëª¨ë“  ìë£Œí˜•ì€ ì°¸ ë˜ëŠ” ê±°ì§“ìœ¼ë¡œ í‘œí˜„ì´ ê°€ëŠ¥

In [13]:
bool1 = True
print(bool1)
print(type(bool1))

True
<class 'bool'>

In [14]:
# 0 ì´ ì•„ë‹Œ ìˆ«ìëŠ” ëª¨ë‘ True, 0ì€ False
num1 = 10
print(num1)
print(type(num1))
print(bool(num1))

num2 = 0
print(num2)
print(type(num2))
print(bool(num2))

10
<class 'int'>
True
0
<class 'int'>
False

In [15]:
str1 = 'ì•ˆë…•'
print(str1)
print(type(str1))
print(bool(str1))

str2 = ''
print(str2)
print(type(str2))
print(bool(str2))

ì•ˆë…•
<class 'str'>
True

<class 'str'>
False

In [16]:
list1 = [1, 2, 3]
print(list1)
print(type(list1))
print(bool(list1))

list2 = []
print(list2)
print(type(list2))
print(bool(list2))

[1, 2, 3]
<class 'list'>
True
[]
<class 'list'>
False

In [17]:
list1 = [1, 3, 5]

if list1:
  print('ìš”ì†Œê°€ ìˆìŠµë‹ˆë‹¤')
else:
  print('ìš”ì†Œê°€ ì—†ìŠµë‹ˆë‹¤')

ìš”ì†Œê°€ ìˆìŠµë‹ˆë‹¤

### 1-2. ëŒ€ì… ì—°ì‚°ì
* =, +=, -=, *=, /=, %=
* ì™¼ìª½ì— ì €ì¥ëœ ê°’ê³¼ ì˜¤ë¥¸ìª½ ê°’ì„ ì—°ì‚°í•œ ë’¤ ë‹¤ì‹œ ì™¼ìª½ì— ëŒ€ì…(inplace ì—°ì‚°)

In [18]:
num = 10

In [19]:
num += 1 # num = num + 1
print(num)

11

In [20]:
num -= 1
print(num)

10

In [21]:
num *= 10
print(num)

100

In [22]:
num /= 10
print(num)

10.0

In [23]:
num %= 2
print(num)

0.0

### 1-3. while ë¬¸

```
while ì¡°ê±´ì‹:
  ì¡°ê±´ì‹ì˜ ê²¨ë¡œê°€ê°€ Trueì¸ ë™ì•ˆ ë°˜ë³µí•  ë¬¸ì¥
  ...
```

In [24]:
# ë¬´í•œ ë£¨í”„
while True:
  print('ëë‚˜ì§€ ì•ŠëŠ” ë°˜ë³µ')

In [25]:
i = 1

while i <= 5:
  print('Hello Python')
  i += 1

print(f'í˜„ì¬ iì˜ ê°’ì€: {i}')

Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
í˜„ì¬ iì˜ ê°’ì€: 6

In [26]:
# 1 ~ 10ê¹Œì§€ì˜ ì´í•©
# 1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10

i = 1
sum = 0

while i <= 10:
  sum += i
  i += 1

print(f'1ë¶€í„° 10ê¹Œì§€ì˜ í•©: {sum}')

1ë¶€í„° 10ê¹Œì§€ì˜ í•©: 55

### ë¬¸ì œ
* 1 ~ 100ê¹Œì§€ ì§ìˆ˜ì˜ ì´í•©ì„ êµ¬í•˜ëŠ” í”„ë¡œê·¸ë¨ì„ ì‘ì„±í•´ë³´ì

In [27]:
i = 1
sum = 0

while i <= 100:
  if i % 2 == 0:
    sum += i
  i += 1

print(f'1ë¶€í„° 100ê¹Œì§€ ì§ìˆ˜ì˜ í•©: {sum}')

1ë¶€í„° 100ê¹Œì§€ ì§ìˆ˜ì˜ í•©: 2550

### ë¬¸ì œ
* ì›í•˜ëŠ” ë‹¨ì„ ì…ë ¥ë°›ì•„ í•´ë‹¹ ë‹¨ì˜ êµ¬êµ¬ë‹¨ì„ ì¶œë ¥í•˜ëŠ” í”„ë¡œê·¸ë¨ì„ ì‘ì„±í•´ë³´ì

In [28]:
i = int(input('ì›í•˜ëŠ” ë‹¨ì„ ì…ë ¥í•˜ì„¸ìš”: '))
j = 1

print(f'{i}ë‹¨')
while j <= 9:
  print(f'{i} * {j} = {i * j}')
  j += 1

ì›í•˜ëŠ” ë‹¨ì„ ì…ë ¥í•˜ì„¸ìš”: 7
7ë‹¨
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

In [29]:
dan = int(input('ì›í•˜ëŠ” ë‹¨ì„ ì…ë ¥í•˜ì„¸ìš”: '))
print(f'{dan} ë‹¨')

i=1
while i <= 9:
  print(f'{dan} * {i} = {dan * i}')
  i += 1

ì›í•˜ëŠ” ë‹¨ì„ ì…ë ¥í•˜ì„¸ìš”: 7
7 ë‹¨
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

### 1-4. for in ë¬¸

```
for ë³€ìˆ˜ in iterable ê°ì²´:
  ì´í„°ëŸ¬ë¸” ê°ì²´ì˜ ìš”ì†Œ ê°¯ìˆ˜ë§Œí¼ ë°˜ë³µí•  ë¬¸ì¥
  ...
```

In [30]:
list1 = [10, 20, 30, 40]

for li in list1:
  print(li)

10
20
30
40

In [31]:
import collections
# instance(ì´í„°ëŸ¬ë¸”í•œ ê°ì²´ì¸ì§€ í™•ì¸í•˜ê³ ì í•˜ëŠ” ê°ì²´, collections.Iterable)
isinstance(list1, collections.Iterable)

<ipython-input-31-743b06db6890>:3: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated since Python 3.3, and in 3.10 it will stop working
  isinstance(list1, collections.Iterable)

True

In [32]:
# range(): ë²”ìœ„ë¥¼ ìƒì„±í•´ì£¼ëŠ” í•¨ìˆ˜
# range(ì‹œì‘ì¸ë±ìŠ¤, ì¢…ë£Œì¸ë±ìŠ¤, ì¦ê°€ê°’)
num = range(0, 10, 1)
print(num)

range(0, 10)

In [33]:
for i in num:
  print(i, end = ' ')

0 1 2 3 4 5 6 7 8 9

In [34]:
isinstance(num, collections.Iterable)

True

In [35]:
num = 10
# print(num)

for i in num:
  print(i, end = ' ')

TypeError: ignored

In [36]:
isinstance(num, collections.Iterable)

False

In [37]:
for i in range(0, 10, 1):
  print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [38]:
# ì¦ê°€ê°’ì„ ìƒëµí•˜ë©´ ê¸°ë³¸ê°’ì€ 1
for i in range(0, 10):
  print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [39]:
# ì‹œì‘ê°’ì„ ìƒëµí•˜ë©´ ê¸°ë³¸ê°’ì€ 0
for i in range(10):
  print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [40]:
# ì‹œì‘ê°’ì€ 1, ì¢…ë£Œê°’ìœ¼ 10, ì¦ê°€ê°’ì€ 2
for i in range(1, 10, 2):
  print(i, end=' ')

1 3 5 7 9

### ë¬¸ì œ
for in ë¬¸ì„ ì´ìš©í•˜ì—¬ 1 ~ 100ê¹Œì§€ ì§ìˆ˜ì˜ ì´í•©ì„ êµ¬í•˜ëŠ” í”„ë¡œê·¸ë¨ì„ ì‘ì„±í•´ë³´ì

In [41]:
sum = 0

for i in range(1, 101, 1):
  if i % 2 == 0:
    sum += i
print(f'1 ë¶€í„° 100ê¹Œì§€ì˜ ì§ìˆ˜ ì´í•©: {sum}')

1 ë¶€í„° 100ê¹Œì§€ì˜ ì§ìˆ˜ ì´í•©: 2550

In [42]:
sum = 0
for i in range(0, 101, 2):
  sum += i

print(f'1ë¶€í„° 100ê¹Œì§€ ì§ìˆ˜ì˜ ì´í•©: {sum}')

1ë¶€í„° 100ê¹Œì§€ ì§ìˆ˜ì˜ ì´í•©: 2550

### 1-5. enumerate
* ë°˜ë³µë¬¸ ì‚¬ìš© ì‹œ ëª‡ë²ˆì§¸ ë°˜ë³µì¸ì§€ ì¸ë±ìŠ¤ ë²ˆí˜¸ë¡œ í™•ì¸
* ì¸ë±ìŠ¤ ë²ˆí˜¸ì™€ ìš”ì†Œë¥¼ íŠœí”Œ í˜•íƒœë¡œ ë°˜í™˜

In [43]:
li1 = [10, 20, 30, 40, 50]

for e in enumerate(li1):
  print(e)

(0, 10)
(1, 20)
(2, 30)
(3, 40)
(4, 50)

In [44]:
for i, v in enumerate(li1):
  print(f'index:{i}, value:{v}')

index:0, value:10
index:1, value:20
index:2, value:30
index:3, value:40
index:4, value:50

### 1-6. zip() í•¨ìˆ˜
* ê°ì²´ê°€ ë‹´ê³ ìˆëŠ” ì›ì†Œë¥¼ ì—®ì–´ì„œ íŠœí”Œì˜ í˜•íƒœë¡œ ë°˜í™˜
* ë§¤ê°œë³€ìˆ˜ì˜ ê¸¸ì´ê°€ ë‹¤ë¥¼ ë•ŒëŠ” ì§§ì€ ë§¤ê°œë³€ìˆ˜ ê¸°ì¤€ìœ¼ë¡œ ë°ì´í„°ê°€ ì—®ì´ê³ , ë‚˜ë¨¸ì§€ëŠ” ë²„ë ¤ì§

In [74]:
li1 = [10, 20, 30]
li2 = ['apple', 'banana', 'orange']
# (10, 'apple')
# (20, 'banana')
# (30, 'orange')

for i in range(len(li1)):
  print((li1[i], li2[i]))

(10, 'apple')
(20, 'banana')
(30, 'orange')

In [79]:
for l1, l2 in zip(li1, li2):
  print((l1, l2))

(10, 'apple')
(20, 'banana')
(30, 'orange')

In [80]:
for li in zip(li1, li2):
  print(li)

(10, 'apple')
(20, 'banana')
(30, 'orange')

In [76]:
for n, A, a in zip('12345', 'ABCDE', 'abcde'):
  print((n, A, a))

('1', 'A', 'a')
('2', 'B', 'b')
('3', 'C', 'c')
('4', 'D', 'd')
('5', 'E', 'e')

In [78]:
for n, A, a in zip('12345', 'ABCDEF', 'abcdef'):
  print((n, A, a))

('1', 'A', 'a')
('2', 'B', 'b')
('3', 'C', 'c')
('4', 'D', 'd')
('5', 'E', 'e')

### 1-7. listì™€ tupleì„ forë¬¸ê³¼ í•¨ê»˜ ì‚¬ìš©í•˜ê¸°

In [45]:
li1 = ['apple', 'banana', 'orange', 'melon']

for i in li1:
  print(i, end=' ')

apple banana orange melon

In [46]:
tu1 = ('apple', 'banana', 'orange', 'melon')

for i in tu1:
  print(i, end=' ')

apple banana orange melon

### ë¬¸ì œ
ì•„ë˜ score ë¦¬ìŠ¤íŠ¸ì— ì €ì¥ëœ ì ìˆ˜ê°€ 60ì  ì´ìƒì¸ í•™ìƒì´ ëª‡ëª…ì¸ì§€ ì•Œì•„ë³´ëŠ” í”„ë¡œê·¸ë¨ì„ ì‘ì„±í•´ë³´ì

* score = [90, 30, 50, 60, 80, 70, 100, 40, 20, 10]

In [48]:
score = [90, 30, 50, 60, 80, 70, 100, 40, 20, 10]
sum = 0

for i in score:
  if i >= 60:
    sum += 1

print('60ì  ì´ìƒì¸ í•™ìƒì˜ ìˆ˜: ', sum)

60ì  ì´ìƒì¸ í•™ìƒì˜ ìˆ˜:  5

In [49]:
score = [90, 30, 50, 60, 80, 70, 100, 40, 20, 10]
count = 0

for i in score:
  if i >= 60:
    count += 1

print(f'60ì  ì´ìƒì¸ í•™ìƒì˜ ìˆ˜ëŠ” {count}ëª…ì…ë‹ˆë‹¤')

60ì  ì´ìƒì¸ í•™ìƒì˜ ìˆ˜ëŠ” 5ëª…ì…ë‹ˆë‹¤

# 2. ë‹¤ì¤‘ë°˜ë³µë¬¸
* ë°˜ë³µë¬¸ì´ 2ê°œì´ìƒ ê²¹ì³ì ¸ ìˆëŠ” í˜•íƒœ

In [54]:
for i in range(1, 4):
  print(f'ğŸ˜ i: {i}')
  for j in range(1, 4):
    print(f'   ğŸ˜ j: {j}')

ğŸ˜ i: 1
   ğŸ˜ j: 1
   ğŸ˜ j: 2
   ğŸ˜ j: 3
ğŸ˜ i: 2
   ğŸ˜ j: 1
   ğŸ˜ j: 2
   ğŸ˜ j: 3
ğŸ˜ i: 3
   ğŸ˜ j: 1
   ğŸ˜ j: 2
   ğŸ˜ j: 3

In [59]:
# 'ğŸƒ'ë¥¼ ì´ìš©í•˜ì—¬ ì•„ë˜ì™€ ê°™ì€ ë„í˜•ì„ ë§Œë“¤ì–´ë³´ì.
'''
ğŸƒ ğŸƒ ğŸƒ ğŸƒ ğŸƒ
ğŸƒ ğŸƒ ğŸƒ ğŸƒ ğŸƒ
ğŸƒ ğŸƒ ğŸƒ ğŸƒ ğŸƒ
ğŸƒ ğŸƒ ğŸƒ ğŸƒ ğŸƒ
ğŸƒ ğŸƒ ğŸƒ ğŸƒ ğŸƒ
'''
for i in range(5):
  for j in range(5):
    print('ğŸƒ', end=' ')
  print()

ğŸƒ ğŸƒ ğŸƒ ğŸƒ ğŸƒ
ğŸƒ ğŸƒ ğŸƒ ğŸƒ ğŸƒ
ğŸƒ ğŸƒ ğŸƒ ğŸƒ ğŸƒ
ğŸƒ ğŸƒ ğŸƒ ğŸƒ ğŸƒ
ğŸƒ ğŸƒ ğŸƒ ğŸƒ ğŸƒ

### ë¬¸ì œ1
'ğŸƒ'ë¥¼ ì´ìš©í•˜ì—¬ ì•„ë˜ì™€ ê°™ì€ ë„í˜•ì„ ë§Œë“¤ì–´ë³´ì.

ğŸƒ ğŸƒ ğŸƒ ğŸƒ ğŸƒ  
ğŸƒ ğŸƒ ğŸƒ ğŸƒ   
ğŸƒ ğŸƒ ğŸƒ   
ğŸƒ ğŸƒ  
ğŸƒ

In [64]:
for i in range(5):
  for j in range(5-i):
    print('ğŸƒ', end=' ')
  print()

ğŸƒ ğŸƒ ğŸƒ ğŸƒ ğŸƒ
ğŸƒ ğŸƒ ğŸƒ ğŸƒ
ğŸƒ ğŸƒ ğŸƒ
ğŸƒ ğŸƒ
ğŸƒ

In [65]:
for i in range(5):
  for j in range(i, 5):
    print('ğŸƒ', end=' ')
  print()

ğŸƒ ğŸƒ ğŸƒ ğŸƒ ğŸƒ
ğŸƒ ğŸƒ ğŸƒ ğŸƒ
ğŸƒ ğŸƒ ğŸƒ
ğŸƒ ğŸƒ
ğŸƒ

### ë¬¸ì œ2

'ğŸƒ'ë¥¼ ì´ìš©í•˜ì—¬ ì•„ë˜ì™€ ê°™ì€ ë„í˜•ì„ ë§Œë“¤ì–´ë³´ì.

ğŸƒ  
ğŸƒ ğŸƒ  
ğŸƒ ğŸƒ ğŸƒ  
ğŸƒ ğŸƒ ğŸƒ ğŸƒ  
ğŸƒ ğŸƒ ğŸƒ ğŸƒ ğŸƒ

In [63]:
for i in range(5):
  for j in range(i+1):
    print('ğŸƒ', end=' ')
  print()

ğŸƒ
ğŸƒ ğŸƒ
ğŸƒ ğŸƒ ğŸƒ
ğŸƒ ğŸƒ ğŸƒ ğŸƒ
ğŸƒ ğŸƒ ğŸƒ ğŸƒ ğŸƒ

In [67]:
# 2ë‹¨ë¶€í„° 9ë‹¨ê¹Œì§€ êµ¬êµ¬ë‹¨ì„ ì¶œë ¥í•˜ëŠ” í”„ë¡œê·¸ë¨ì„ ì‘ì„±

for i in range(2, 10):
  print(f'{i} ë‹¨')
  for j in range(1, 10):
    print(f'{i} * {j} = {i*j}')
  print()

2 ë‹¨
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 ë‹¨
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 ë‹¨
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 ë‹¨
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 ë‹¨
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 ë‹¨
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 ë‹¨
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 ë‹¨
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

### ë¬¸ì œ
* 2ë‹¨ë¶€í„° 9ë‹¨ê¹Œì§€ êµ¬êµ¬ë‹¨ì„ ì¶œë ¥í•˜ëŠ” í”„ë¡œê·¸ë¨ì„ whileìœ¼ë¡œ ì‘ì„±í•´ë³´ì

In [70]:
i = 2
j = 1

while i<=9:
  print(f'{i}ë‹¨')
  while j<=9:
    print(f'{i} * {j} = {i*j}')
    j += 1
    
  i += 1
  j = 1
  print()

2ë‹¨
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3ë‹¨
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4ë‹¨
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5ë‹¨
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6ë‹¨
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7ë‹¨
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8ë‹¨
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9ë‹¨
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

### ë¬¸ì œ
* ì•„ë˜ score ë¦¬ìŠ¤íŠ¸ì˜ ìš”ì†Œë¥¼ ëª¨ë‘ ì¶œë ¥í•˜ëŠ” í”„ë¡œê·¸ë¨ì„ ì‘ì„±í•´ë³´ì
* score = [[80, 90, 50], [40, 70, 30], [90, 50, 100]]

In [71]:
score = [[80, 90, 50], [40, 70, 30], [90, 50, 100]]

for i in score:
  for j in i:
    print(j, end=' ')

80 90 50 40 70 30 90 50 100

# 3. ì»´í”„ë¦¬í—¨ì…˜(Comprehension)
* ì´í„°ëŸ¬ë¸”í•œ ì˜¤ë¸Œì íŠ¸ë¥¼ ìƒì„±í•˜ê¸° ìœ„í•œ ë°©ë²• ì¤‘ í•˜ë‚˜ë¡œ íŒŒì´ì¬ì—ì„œ ì‚¬ìš©í•  ìˆ˜ ìˆëŠ” ìœ ìš©í•œ ê¸°ëŠ¥

In [81]:
n = range(0, 10, 1)
print(n)

range(0, 10)

In [82]:
n = 10

result = [0 for i in range(n)]
print(result)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [83]:
result = [i for i in range(n)]
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [84]:
arr = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

result = [n for n in arr]
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [85]:
arr = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

result = [n*n for n in arr]
print(result)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [86]:
arr = ['apple', 'banana', 'orange', 'melon']

result = [len(string) for string in arr]
print(result)

[5, 6, 6, 5]

In [88]:
result = [n for n in range(10) if n % 2 == 0]
print(result)

[0, 2, 4, 6, 8]

In [89]:
# 0 ~ 100ê¹Œì§€ì˜ ìˆ«ì ì¤‘ 3ì˜ ë°°ìˆ˜ì´ë©°, í™€ìˆ˜ì¸ ìˆ«ìë§Œ ë¦¬ìŠ¤íŠ¸ì— ì €ì¥í•˜ê¸°
result = [n for n in range(101) if n % 3 == 0 if n % 2 != 0]
print(result)

[3, 9, 15, 21, 27, 33, 39, 45, 51, 57, 63, 69, 75, 81, 87, 93, 99]

In [90]:
result = [n for n in range(101) if n % 3 == 0 and n % 2 != 0]
print(result)

[3, 9, 15, 21, 27, 33, 39, 45, 51, 57, 63, 69, 75, 81, 87, 93, 99]

In [91]:
arr = [-1, 0, -4, 24, 5, -10, 2]

# ì–‘ìˆ˜ëŠ” ë¦¬ìŠ¤íŠ¸ì— ê·¸ëŒ€ë¡œ ì €ì¥í•˜ê³ , ìŒìˆ˜ëŠ” 0ìœ¼ë¡œ ë³€í™˜í•´ì„œ ì €ì¥í•˜ê¸°
result = [n if n>0 else 0 for n in arr]
print(result)

[0, 0, 0, 24, 5, 0, 2]

In [93]:
arr = []
for i in range(1, 4):
  for j in range(1, 3):
    arr.append(i * j)

print(arr)

[1, 2, 2, 4, 3, 6]

In [94]:
arr = [i*j for i in range(1,4) for j in range(1, 3)]
print(arr)

[1, 2, 2, 4, 3, 6]

In [ ]:
result = [[0 for i in range(2)] for j in range(3)]
print(result)