<a href="https://colab.research.google.com/github/leeCodingStudio/firstPython/blob/master/09_%EC%A0%9C%EC%96%B4%EB%AC%B8(%EB%B0%98%EB%B3%B5%EB%AC%B8).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 반복문

### 1-1. 자료형 참/거짓 판단하기
* 파이썬에서 사용하는 모든 자료형은 참 또는 거짓으로 표현이 가능

In [1]:
bool1 = True
print(bool1)
print(type(bool1))

True
<class 'bool'>

In [6]:
# 0 이 아닌 숫자는 모두 True, 0은 False
num1 = 10
print(num1)
print(type(num1))
print(bool(num1))

num2 = 0
print(num2)
print(type(num2))
print(bool(num2))

10
<class 'int'>
True
0
<class 'int'>
False

In [10]:
str1 = '안녕'
print(str1)
print(type(str1))
print(bool(str1))

str2 = ''
print(str2)
print(type(str2))
print(bool(str2))

안녕
<class 'str'>
True

<class 'str'>
False

In [9]:
list1 = [1, 2, 3]
print(list1)
print(type(list1))
print(bool(list1))

list2 = []
print(list2)
print(type(list2))
print(bool(list2))

[1, 2, 3]
<class 'list'>
True
[]
<class 'list'>
False

In [11]:
list1 = [1, 3, 5]

if list1:
  print('요소가 있습니다')
else:
  print('요소가 없습니다')

요소가 있습니다

### 1-2. 대입 연산자
* =, +=, -=, *=, /=, %=
* 왼쪽에 저장된 값과 오른쪽 값을 연산한 뒤 다시 왼쪽에 대입(inplace 연산)

In [12]:
num = 10

In [17]:
num += 1 # num = num + 1
print(num)

11

In [18]:
num -= 1
print(num)

10

In [19]:
num *= 10
print(num)

100

In [20]:
num /= 10
print(num)

10.0

In [21]:
num %= 2
print(num)

0.0

### 1-3. while 문

```
while 조건식:
  조건식의 겨로가가 True인 동안 반복할 문장
  ...
```

In [24]:
# 무한 루프
while True:
  print('끝나지 않는 반복')

In [28]:
i = 1

while i <= 5:
  print('Hello Python')
  i += 1

print(f'현재 i의 값은: {i}')

Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
현재 i의 값은: 6

In [33]:
# 1 ~ 10까지의 총합
# 1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10

i = 1
sum = 0

while i <= 10:
  sum += i
  i += 1

print(f'1부터 10까지의 합: {sum}')

1부터 10까지의 합: 55

### 문제
* 1 ~ 100까지 짝수의 총합을 구하는 프로그램을 작성해보자

In [36]:
i = 1
sum = 0

while i <= 100:
  if i % 2 == 0:
    sum += i
  i += 1

print(f'1부터 100까지 짝수의 합: {sum}')

1부터 100까지 짝수의 합: 2550

### 문제
* 원하는 단을 입력받아 해당 단의 구구단을 출력하는 프로그램을 작성해보자

In [39]:
i = int(input('원하는 단을 입력하세요: '))
j = 1

print(f'{i}단')
while j <= 9:
  print(f'{i} * {j} = {i * j}')
  j += 1

원하는 단을 입력하세요: 7
7단
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

In [40]:
dan = int(input('원하는 단을 입력하세요: '))
print(f'{dan} 단')

i=1
while i <= 9:
  print(f'{dan} * {i} = {dan * i}')
  i += 1

원하는 단을 입력하세요: 7
7 단
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

### 1-4. for in 문

```
for 변수 in iterable 객체:
  이터러블 객체의 요소 갯수만큼 반복할 문장
  ...
```

In [41]:
list1 = [10, 20, 30, 40]

for li in list1:
  print(li)

10
20
30
40

In [44]:
import collections
# instance(이터러블한 객체인지 확인하고자 하는 객체, collections.Iterable)
isinstance(list1, collections.Iterable)

<ipython-input-44-743b06db6890>:3: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated since Python 3.3, and in 3.10 it will stop working
  isinstance(list1, collections.Iterable)

True

In [45]:
# range(): 범위를 생성해주는 함수
# range(시작인덱스, 종료인덱스, 증가값)
num = range(0, 10, 1)
print(num)

range(0, 10)

In [47]:
for i in num:
  print(i, end = ' ')

0 1 2 3 4 5 6 7 8 9

In [48]:
isinstance(num, collections.Iterable)

True

In [49]:
num = 10
# print(num)

for i in num:
  print(i, end = ' ')

TypeError: ignored

In [50]:
isinstance(num, collections.Iterable)

False

In [51]:
for i in range(0, 10, 1):
  print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [52]:
# 증가값을 생략하면 기본값은 1
for i in range(0, 10):
  print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [53]:
# 시작값을 생략하면 기본값은 0
for i in range(10):
  print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [55]:
# 시작값은 1, 종료값으 10, 증가값은 2
for i in range(1, 10, 2):
  print(i, end=' ')

1 3 5 7 9

### 문제
for in 문을 이용하여 1 ~ 100까지 짝수의 총합을 구하는 프로그램을 작성해보자

In [57]:
sum = 0

for i in range(1, 101, 1):
  if i % 2 == 0:
    sum += i
print(f'1 부터 100까지의 짝수 총합: {sum}')

1 부터 100까지의 짝수 총합: 2550

In [59]:
sum = 0
for i in range(0, 101, 2):
  sum += i

print(f'1부터 100까지 짝수의 총합: {sum}')

1부터 100까지 짝수의 총합: 2550

### 1-5. enumerate
* 반복문 사용 시 몇번째 반복인지 인덱스 번호로 확인
* 인덱스 번호와 요소를 튜플 형태로 반환

In [60]:
li1 = [10, 20, 30, 40, 50]

for e in enumerate(li1):
  print(e)

(0, 10)
(1, 20)
(2, 30)
(3, 40)
(4, 50)

In [61]:
for i, v in enumerate(li1):
  print(f'index:{i}, value:{v}')

index:0, value:10
index:1, value:20
index:2, value:30
index:3, value:40
index:4, value:50

In [62]:
%%shell
jupyter nbconvert --to html /content/09_제어문\(반복문\).ipynb

[NbConvertApp] Converting notebook /content/09_제어문(반복문).ipynb to html
[NbConvertApp] Writing 627152 bytes to /content/09_제어문(반복문).html