<a href="https://colab.research.google.com/github/leeCodingStudio/firstPython/blob/master/09_%EC%A0%9C%EC%96%B4%EB%AC%B8(%EB%B0%98%EB%B3%B5%EB%AC%B8).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 반복문

### 1-1. 자료형 참/거짓 판단하기
* 파이썬에서 사용하는 모든 자료형은 참 또는 거짓으로 표현이 가능

In [13]:
bool1 = True
print(bool1)
print(type(bool1))

True
<class 'bool'>

In [14]:
# 0 이 아닌 숫자는 모두 True, 0은 False
num1 = 10
print(num1)
print(type(num1))
print(bool(num1))

num2 = 0
print(num2)
print(type(num2))
print(bool(num2))

10
<class 'int'>
True
0
<class 'int'>
False

In [15]:
str1 = '안녕'
print(str1)
print(type(str1))
print(bool(str1))

str2 = ''
print(str2)
print(type(str2))
print(bool(str2))

안녕
<class 'str'>
True

<class 'str'>
False

In [16]:
list1 = [1, 2, 3]
print(list1)
print(type(list1))
print(bool(list1))

list2 = []
print(list2)
print(type(list2))
print(bool(list2))

[1, 2, 3]
<class 'list'>
True
[]
<class 'list'>
False

In [17]:
list1 = [1, 3, 5]

if list1:
  print('요소가 있습니다')
else:
  print('요소가 없습니다')

요소가 있습니다

### 1-2. 대입 연산자
* =, +=, -=, *=, /=, %=
* 왼쪽에 저장된 값과 오른쪽 값을 연산한 뒤 다시 왼쪽에 대입(inplace 연산)

In [18]:
num = 10

In [19]:
num += 1 # num = num + 1
print(num)

11

In [20]:
num -= 1
print(num)

10

In [21]:
num *= 10
print(num)

100

In [22]:
num /= 10
print(num)

10.0

In [23]:
num %= 2
print(num)

0.0

### 1-3. while 문

```
while 조건식:
  조건식의 겨로가가 True인 동안 반복할 문장
  ...
```

In [24]:
# 무한 루프
while True:
  print('끝나지 않는 반복')

In [25]:
i = 1

while i <= 5:
  print('Hello Python')
  i += 1

print(f'현재 i의 값은: {i}')

Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
현재 i의 값은: 6

In [26]:
# 1 ~ 10까지의 총합
# 1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10

i = 1
sum = 0

while i <= 10:
  sum += i
  i += 1

print(f'1부터 10까지의 합: {sum}')

1부터 10까지의 합: 55

### 문제
* 1 ~ 100까지 짝수의 총합을 구하는 프로그램을 작성해보자

In [27]:
i = 1
sum = 0

while i <= 100:
  if i % 2 == 0:
    sum += i
  i += 1

print(f'1부터 100까지 짝수의 합: {sum}')

1부터 100까지 짝수의 합: 2550

### 문제
* 원하는 단을 입력받아 해당 단의 구구단을 출력하는 프로그램을 작성해보자

In [28]:
i = int(input('원하는 단을 입력하세요: '))
j = 1

print(f'{i}단')
while j <= 9:
  print(f'{i} * {j} = {i * j}')
  j += 1

원하는 단을 입력하세요: 7
7단
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

In [29]:
dan = int(input('원하는 단을 입력하세요: '))
print(f'{dan} 단')

i=1
while i <= 9:
  print(f'{dan} * {i} = {dan * i}')
  i += 1

원하는 단을 입력하세요: 7
7 단
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

### 1-4. for in 문

```
for 변수 in iterable 객체:
  이터러블 객체의 요소 갯수만큼 반복할 문장
  ...
```

In [30]:
list1 = [10, 20, 30, 40]

for li in list1:
  print(li)

10
20
30
40

In [31]:
import collections
# instance(이터러블한 객체인지 확인하고자 하는 객체, collections.Iterable)
isinstance(list1, collections.Iterable)

<ipython-input-31-743b06db6890>:3: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated since Python 3.3, and in 3.10 it will stop working
  isinstance(list1, collections.Iterable)

True

In [32]:
# range(): 범위를 생성해주는 함수
# range(시작인덱스, 종료인덱스, 증가값)
num = range(0, 10, 1)
print(num)

range(0, 10)

In [33]:
for i in num:
  print(i, end = ' ')

0 1 2 3 4 5 6 7 8 9

In [34]:
isinstance(num, collections.Iterable)

True

In [35]:
num = 10
# print(num)

for i in num:
  print(i, end = ' ')

TypeError: ignored

In [36]:
isinstance(num, collections.Iterable)

False

In [37]:
for i in range(0, 10, 1):
  print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [38]:
# 증가값을 생략하면 기본값은 1
for i in range(0, 10):
  print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [39]:
# 시작값을 생략하면 기본값은 0
for i in range(10):
  print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [40]:
# 시작값은 1, 종료값으 10, 증가값은 2
for i in range(1, 10, 2):
  print(i, end=' ')

1 3 5 7 9

### 문제
for in 문을 이용하여 1 ~ 100까지 짝수의 총합을 구하는 프로그램을 작성해보자

In [41]:
sum = 0

for i in range(1, 101, 1):
  if i % 2 == 0:
    sum += i
print(f'1 부터 100까지의 짝수 총합: {sum}')

1 부터 100까지의 짝수 총합: 2550

In [42]:
sum = 0
for i in range(0, 101, 2):
  sum += i

print(f'1부터 100까지 짝수의 총합: {sum}')

1부터 100까지 짝수의 총합: 2550

### 1-5. enumerate
* 반복문 사용 시 몇번째 반복인지 인덱스 번호로 확인
* 인덱스 번호와 요소를 튜플 형태로 반환

In [43]:
li1 = [10, 20, 30, 40, 50]

for e in enumerate(li1):
  print(e)

(0, 10)
(1, 20)
(2, 30)
(3, 40)
(4, 50)

In [44]:
for i, v in enumerate(li1):
  print(f'index:{i}, value:{v}')

index:0, value:10
index:1, value:20
index:2, value:30
index:3, value:40
index:4, value:50

### 1-6. zip() 함수
* 객체가 담고있는 원소를 엮어서 튜플의 형태로 반환
* 매개변수의 길이가 다를 때는 짧은 매개변수 기준으로 데이터가 엮이고, 나머지는 버려짐

In [74]:
li1 = [10, 20, 30]
li2 = ['apple', 'banana', 'orange']
# (10, 'apple')
# (20, 'banana')
# (30, 'orange')

for i in range(len(li1)):
  print((li1[i], li2[i]))

(10, 'apple')
(20, 'banana')
(30, 'orange')

In [79]:
for l1, l2 in zip(li1, li2):
  print((l1, l2))

(10, 'apple')
(20, 'banana')
(30, 'orange')

In [80]:
for li in zip(li1, li2):
  print(li)

(10, 'apple')
(20, 'banana')
(30, 'orange')

In [76]:
for n, A, a in zip('12345', 'ABCDE', 'abcde'):
  print((n, A, a))

('1', 'A', 'a')
('2', 'B', 'b')
('3', 'C', 'c')
('4', 'D', 'd')
('5', 'E', 'e')

In [78]:
for n, A, a in zip('12345', 'ABCDEF', 'abcdef'):
  print((n, A, a))

('1', 'A', 'a')
('2', 'B', 'b')
('3', 'C', 'c')
('4', 'D', 'd')
('5', 'E', 'e')

### 1-7. list와 tuple을 for문과 함께 사용하기

In [45]:
li1 = ['apple', 'banana', 'orange', 'melon']

for i in li1:
  print(i, end=' ')

apple banana orange melon

In [46]:
tu1 = ('apple', 'banana', 'orange', 'melon')

for i in tu1:
  print(i, end=' ')

apple banana orange melon

### 문제
아래 score 리스트에 저장된 점수가 60점 이상인 학생이 몇명인지 알아보는 프로그램을 작성해보자

* score = [90, 30, 50, 60, 80, 70, 100, 40, 20, 10]

In [48]:
score = [90, 30, 50, 60, 80, 70, 100, 40, 20, 10]
sum = 0

for i in score:
  if i >= 60:
    sum += 1

print('60점 이상인 학생의 수: ', sum)

60점 이상인 학생의 수:  5

In [49]:
score = [90, 30, 50, 60, 80, 70, 100, 40, 20, 10]
count = 0

for i in score:
  if i >= 60:
    count += 1

print(f'60점 이상인 학생의 수는 {count}명입니다')

60점 이상인 학생의 수는 5명입니다

# 2. 다중반복문
* 반복문이 2개이상 겹쳐져 있는 형태

In [54]:
for i in range(1, 4):
  print(f'😎 i: {i}')
  for j in range(1, 4):
    print(f'   😍 j: {j}')

😎 i: 1
   😍 j: 1
   😍 j: 2
   😍 j: 3
😎 i: 2
   😍 j: 1
   😍 j: 2
   😍 j: 3
😎 i: 3
   😍 j: 1
   😍 j: 2
   😍 j: 3

In [59]:
# '🎃'를 이용하여 아래와 같은 도형을 만들어보자.
'''
🎃 🎃 🎃 🎃 🎃
🎃 🎃 🎃 🎃 🎃
🎃 🎃 🎃 🎃 🎃
🎃 🎃 🎃 🎃 🎃
🎃 🎃 🎃 🎃 🎃
'''
for i in range(5):
  for j in range(5):
    print('🎃', end=' ')
  print()

🎃 🎃 🎃 🎃 🎃
🎃 🎃 🎃 🎃 🎃
🎃 🎃 🎃 🎃 🎃
🎃 🎃 🎃 🎃 🎃
🎃 🎃 🎃 🎃 🎃

### 문제1
'🎃'를 이용하여 아래와 같은 도형을 만들어보자.

🎃 🎃 🎃 🎃 🎃  
🎃 🎃 🎃 🎃   
🎃 🎃 🎃   
🎃 🎃  
🎃

In [64]:
for i in range(5):
  for j in range(5-i):
    print('🎃', end=' ')
  print()

🎃 🎃 🎃 🎃 🎃
🎃 🎃 🎃 🎃
🎃 🎃 🎃
🎃 🎃
🎃

In [65]:
for i in range(5):
  for j in range(i, 5):
    print('🎃', end=' ')
  print()

🎃 🎃 🎃 🎃 🎃
🎃 🎃 🎃 🎃
🎃 🎃 🎃
🎃 🎃
🎃

### 문제2

'🎃'를 이용하여 아래와 같은 도형을 만들어보자.

🎃  
🎃 🎃  
🎃 🎃 🎃  
🎃 🎃 🎃 🎃  
🎃 🎃 🎃 🎃 🎃

In [63]:
for i in range(5):
  for j in range(i+1):
    print('🎃', end=' ')
  print()

🎃
🎃 🎃
🎃 🎃 🎃
🎃 🎃 🎃 🎃
🎃 🎃 🎃 🎃 🎃

In [67]:
# 2단부터 9단까지 구구단을 출력하는 프로그램을 작성

for i in range(2, 10):
  print(f'{i} 단')
  for j in range(1, 10):
    print(f'{i} * {j} = {i*j}')
  print()

2 단
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 단
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 단
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 단
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 단
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 단
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 단
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 단
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

### 문제
* 2단부터 9단까지 구구단을 출력하는 프로그램을 while으로 작성해보자

In [70]:
i = 2
j = 1

while i<=9:
  print(f'{i}단')
  while j<=9:
    print(f'{i} * {j} = {i*j}')
    j += 1
    
  i += 1
  j = 1
  print()

2단
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3단
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4단
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5단
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6단
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7단
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8단
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9단
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

### 문제
* 아래 score 리스트의 요소를 모두 출력하는 프로그램을 작성해보자
* score = [[80, 90, 50], [40, 70, 30], [90, 50, 100]]

In [71]:
score = [[80, 90, 50], [40, 70, 30], [90, 50, 100]]

for i in score:
  for j in i:
    print(j, end=' ')

80 90 50 40 70 30 90 50 100

# 3. 컴프리헨션(Comprehension)
* 이터러블한 오브젝트를 생성하기 위한 방법 중 하나로 파이썬에서 사용할 수 있는 유용한 기능

In [81]:
n = range(0, 10, 1)
print(n)

range(0, 10)

In [82]:
n = 10

result = [0 for i in range(n)]
print(result)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [83]:
result = [i for i in range(n)]
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [84]:
arr = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

result = [n for n in arr]
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [85]:
arr = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

result = [n*n for n in arr]
print(result)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [86]:
arr = ['apple', 'banana', 'orange', 'melon']

result = [len(string) for string in arr]
print(result)

[5, 6, 6, 5]

In [88]:
result = [n for n in range(10) if n % 2 == 0]
print(result)

[0, 2, 4, 6, 8]

In [89]:
# 0 ~ 100까지의 숫자 중 3의 배수이며, 홀수인 숫자만 리스트에 저장하기
result = [n for n in range(101) if n % 3 == 0 if n % 2 != 0]
print(result)

[3, 9, 15, 21, 27, 33, 39, 45, 51, 57, 63, 69, 75, 81, 87, 93, 99]

In [90]:
result = [n for n in range(101) if n % 3 == 0 and n % 2 != 0]
print(result)

[3, 9, 15, 21, 27, 33, 39, 45, 51, 57, 63, 69, 75, 81, 87, 93, 99]

In [91]:
arr = [-1, 0, -4, 24, 5, -10, 2]

# 양수는 리스트에 그대로 저장하고, 음수는 0으로 변환해서 저장하기
result = [n if n>0 else 0 for n in arr]
print(result)

[0, 0, 0, 24, 5, 0, 2]

In [93]:
arr = []
for i in range(1, 4):
  for j in range(1, 3):
    arr.append(i * j)

print(arr)

[1, 2, 2, 4, 3, 6]

In [94]:
arr = [i*j for i in range(1,4) for j in range(1, 3)]
print(arr)

[1, 2, 2, 4, 3, 6]

In [ ]:
result = [[0 for i in range(2)] for j in range(3)]
print(result)