<a href="https://colab.research.google.com/github/leeCodingStudio/firstPython/blob/master/12_%EC%82%AC%EC%9A%A9%EC%9E%90_%EC%A0%95%EC%9D%98_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 함수
* 변수 x, y에 대한 x값이 정해지면 그에 따라 y값을 결정하는 것
* 반복적으로 사용되는 가치있는 부분을 묶어서 하나의 집합으로 만듬
* 코드를 대활용하기 위한 목적

### 1-1. 이름만 있는 함수

```
def 함수면():
  함수가 호출되면 실행할 문장
  ...
```

```
함수명() # 호출
```

In [ ]:
def func1():
  print('처음으로 만드는 함수!')

In [ ]:
func1()

처음으로 만드는 함수!

In [ ]:
for i in range(5):
  func1()

처음으로 만드는 함수!
처음으로 만드는 함수!
처음으로 만드는 함수!
처음으로 만드는 함수!
처음으로 만드는 함수!

### 1-2. 매개변수가 있는 함수

```
def 함수명(변수1, 변수2, ...)
  함수가 호출되면 실행할 문장
  ...
```

```
함수명(값1, 값2, ...) # 호출
```

In [ ]:
def func2(num):
  print(f'입력받은 숫자: {num}')

In [ ]:
func2(10)

입력받은 숫자: 10

In [ ]:
func2(4)

입력받은 숫자: 4

In [ ]:
def func3(start, end):
  sum = 0
  for i in range(start, end+1):
    sum += i
  print(f'{start}부터 {end}까지의 합: {sum}')

In [ ]:
func3(1, 10)

1부터 10까지의 합: 55

In [ ]:
func3(1, 100)

1부터 100까지의 합: 5050

### 1-3. 리턴값이 있는 함수

```
def 함수명(변수1, 변수2 ...)
  함수가 호출되면 실행할 문장
  ...
  return 값
```

```
함수명(값1, 값2 ...) # 호출
```

In [ ]:
def func4():
  print('안녕하세요 Python')

In [ ]:
a = func4()
print(f'a에 저장된 값: {a}')

안녕하세요 Python
a에 저장된 값: None

In [ ]:
def func5():
  return '🎁'

In [ ]:
presents = func5()
print(f'presents에 저장된 값: {presents}')

presents에 저장된 값: 🎁

In [ ]:
def func6(num1, num2):
  sum = num1 + num2
  return sum

In [ ]:
result = func6(10) # TypeError: func6() missing 1 required positional argument: 'num2'
print(result)

TypeError: ignored

In [ ]:
result = func6(10, 5)
print(result)
print(sum)
print(num1)
print(num2)

15
<built-in function sum>

NameError: ignored

### 1-4. 디폴트 매개변수

```
def( 함수명(변수1 = 값1, 변수2 = 값2 ...)
  함수가 호출되면 실행할 문장
  ...
  return 값
```

```
변수 = 함수명(값1, 값2 ...) # 호출
변수 = 함수명() # 호출
```

In [ ]:
print(func6())  # TypeError: func6() missing 2 required positional arguments: 'num1' and 'num2'

TypeError: ignored

In [ ]:
def func6(num1 = 1, num2 = 1):
  sum = num1 + num2
  return sum

In [ ]:
print(func6())

2

In [ ]:
print(func6(10, 5))

15

In [ ]:
result = func6(7, 3)
print(result)

10

### 1-5. 매개변수의 개수가 가변적인 함수

```
def( 함수명(*변수)
  함수가 호출되면 실행할 문장
  ...
  return 값
```

```
변수 = 함수명(값1, 값2 ...) # 호출
변수 = 함수명(값1) # 호출
변수 = 함수명() # 호출
```

> 가변적인 매개 변수를 전달할 경우 함수안에서 튜플형태로 사용

In [ ]:
def func7(*args):
  result = 0
  # print(args)
  for i in args:
    result += i
  return result

In [ ]:
print(func7())
print(func7(10, 30, 20, 70))
print(func7(10))

0
130
10

### 1-6. 매개변수를 딕셔너리 구조로 전달받는 함수

```
def 함수명(**변수):
  함수가 호출되면 실행할 문장
  ...
  return 값
```

```
변수 = 함수명(변수1=값1, 변수2=값2 ...) # 호출
```

> 디폴트 매개변수는 첫번째 매개변수에만 적용된다.

In [ ]:
def func8(id, name, age):
  print(f'아이디: {id}')
  print(f'이름: {name}')
  print(f'나이: {age}')

In [ ]:
# 매개변수명과 딕셔너리의 키가 같아야함
# 딕셔너리의 키는 반드시 문자열 형태태
dic1 = {'id':'apple', 'name':'김사과', 'age':20}

In [ ]:
func8(**dic1)

아이디: apple
이름: 김사과
나이: 20

In [ ]:
# *의 데이터를 보낼 경우 키가 저장
func8(*dic1)

아이디: id
이름: name
나이: age

In [ ]:
def func9(**args):
  # print(args)
  for i in args:
    if i == 'id':
      id = args[i]
    return id

In [ ]:
user = func9(id='apple', name='김사과', age=20)
print(user)

apple

### 1-7. 리턴값이 여러개인 함수

```
def 함수명(변수1, 변수2 ...):
  함수가 호출되면 실행할 문장
  ...
  return 값1, 값2, ...
```

```
변수1, 변수2 ... = 함수면(변수1, 변수2 ...) # 호출
```

In [ ]:
def func10(num1, num2):
  return num1 + num2, num1 - num2, num1 * num2, num1 / num2

In [ ]:
result1, result2, result3, result4 = func10(10, 3)

In [ ]:
print(f'덧셈: {result1}, 뺄셈: {result2}, 곱셈: {result3}, 나눗셈: {result4}')

덧셈: 13, 뺄셈: 7, 곱셈: 30, 나눗셈: 3.3333333333333335

In [ ]:
_, _, result3, _ = func10(10, 3) # 곱셈의 결과만 필요할 때
print(result3)

30