<a href="https://colab.research.google.com/github/leeCodingStudio/firstPython/blob/master/15_%EB%9E%9C%EB%8D%A4_%EB%AA%A8%EB%93%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 랜덤(random) 모듈
* 임의의 숫자를 무작위로 반환

### 1-1. random()
* 0이상 1미만의 실수 중에서 무작위로 하나를 뽑아 반환

In [9]:
import random

num = random.random()
print(num)
num = num * 10
print(num)
num = int(num) # 0 ~ 9까지 정수
print(num)
num = num + 1 # # 1 ~ 10까지 정수
print(num)

0.38020375522970495
3.8020375522970493
3
4

In [ ]:
# 1 ~ 10까지 정수
num = int(random.random() * 10) + 1
print(num)

### 1-2. randRange()
* 원하는 범위를 입력하여 범위의 부작위 정수를 반환

In [10]:
random.randrange(1, 46)

43

### 1-3. shuffle()
* 자료구조에 저장된 값들의 순서를 무작위로 섞음

In [14]:
li = ['김사과', '반하나', '오렌지', '이메론', '배애리']
random.shuffle(li)
print(li)

['이메론', '배애리', '반하나', '오렌지', '김사과']

### 1-4. choice()
* 자료구조에 저장된 값 중 하나를 무작위로 반환

In [15]:
li = ['김사과', '반하나', '오렌지', '이메론', '배애리']
random.choice(li)

'이메론'

In [17]:
random.choice([True, False])

True

In [18]:
while True:
  num = int(input('숫자를 입력하세요'))
  if num == 6:
    break

숫자를 입력하세요1
숫자를 입력하세요3
숫자를 입력하세요6